@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	min-height: 100vh;
	--foreground-color: 30, 41, 59;
	--background-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: 255, 255, 255;
		--background-color: 18, 18, 18;
	}
}

body {
	background: rgb(var(--background-color));
	color: rgb(var(--foreground-color));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
